<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Description</th>
    <th>Code</th>
    <th>Price</th>
    <th>Status</th>
    <th>Stock</th>
    <th>Category</th>
  </tr>
  {{#each products}}
    <tr>
      <td>{{id}}</td>
      <td>{{title}}</td>
      <td>{{description}}</td>
      <td> {{code}}</td>
      <td> {{price}}</td>
      <td> {{status}}</td>
      <td> {{stock}}</td>
      <td> {{category}}</td>
    </tr>
  {{/each}}
</table>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>